# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!/Project1/Models/*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!/x64/Debug/*.dll
# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!/Project1/libs/*.lib
# Executables
*.exe
*.out
*.app

#folders
x64/
.vs/